.container {
  display: flex;
}

.my-page {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 40px;
  padding: 16px;
  margin-right: 220px;
}

.my-profile {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.my-profile-image {
  border-radius: 50%;
}

.profile-info .text-wrapper {
  margin-top: 12px;
  font-size: 30px;
  font-weight: bold;
  /* Additional styles */
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-details-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile-details-item .key {
  font-weight: bold;
}

.open-in-spotify {
  background-color: #1ED760;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  font-weight: bold;
  color: white;
}

.content {
  align-items: center;
}

.playlist-items {
  background-color: rgb(78, 78, 78);;
  padding: 50px;
  border-radius: 15px;
  justify-self: self-start;
}

.playlist-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.playlist-item .track-name {
  font-size: larger;
  font-weight: bold;
}
